/* MovieDetails.css */
.movie-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .details-content {
    max-width: 60%;
    margin-right: 20px;
  }
  
  .details-image img {
    max-width: 250px;
    border-radius: 8px;
  }
  